.CategoryContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(228, 137, 0);
    position: absolute;
    width: 100vw;
    top: 100px;
}

.CategoryLink{
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    text-decoration: none;
    color: #f3f3f3;
    padding-bottom: 3px;
}

.CategoryLink:hover{
    color: #f7f7f7;
    border-bottom: 3px solid rgb(255, 72, 0);
}