.NavbarContainer{
    background-color: rgb(228, 137, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 100vw;
    z-index: 4;
}

.ContainerSearch{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 4;
    position: relative;
    left: 10px;
}

.Text{
    width: 150px;
    height: 22px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    z-index: 4;
}


.Text:hover{
    border: 2px solid rgb(255, 81, 0);
}

.Text:focus{
    outline: none;
}

.SearchButton{
    color: #030303;
    background-color: rgb(228, 137, 0);
    border-radius: 15px;
    padding: 3px;
    font-size: 1em;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(255, 72, 0);
    width: 28px;
    height: 28px;
    position: relative;
    right: 7vw;
    z-index: 4;
}

.SearchButton:hover{
    cursor: pointer;
}

.icon{
    width: 24px;
    height: 24px;
    z-index: 4;
}

.no-show {
    display: none;
}

.show {
    top: 19vh;
    height: 25vh;
    width: 100vw;
    background-color: rgb(228, 137, 0);
    flex-direction: column;
    position: absolute;
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin: auto;
    z-index: 10;
}

.Direction{
    width: 40vw;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color: #f3f3f3;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 5px;
    z-index: 4;
}
.Direction:hover{
    color: rgb(255, 72, 0);
    transform: translateX(0px);
    transition: .3s;
    border-left: 3px solid rgb(255, 72, 0);
}

@media (min-width:520px){
    .SearchButton{
       right: 6vw; 
    }
}

@media (min-width:632px){
    .SearchButton{
       right: 4vw; 
    }
}

@media (min-width:900px){
    .SearchButton{
       right: 3vw; 
    }
}

@media (min-width:1200px){
    .SearchButton{
       right: 2vw; 
    }
}